<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.testuser.service.impl.TestuserMapper">
	

	<resultMap id="testuser" type="egovframework.testuser.service.TestuserVO">
		<result property="id" column="id" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="userphone" column="userphone" />
	</resultMap>
	
	<insert id="insertTestuser">
		<![CDATA[
			INSERT INTO testuser 
				( userid
				  , userpw
				  , userphone )
			VALUES ( #{userid}
				  , #{userpw}
				  , #{userphone} )
		]]>
	</insert>
	
	<update id="updateTestuser">
		<![CDATA[
			UPDATE testuser
			SET userpw=#{userpw}
				, userphone=#{userphone}
				WHERE userid=#{userid}
			]]>
	</update>
	
	<delete id="deleteTestuser">
		<![CDATA[
			DELETE FROM testuser WHERE id=#{id}
			]]>
	</delete>
	
	<select id="checkUserLogin" resultMap="testuser">
		<![CDATA[
			SELECT
				id
				, userid
				, userpw
				, userphone
			FROM testuser WHERE userid=#{userid} and userpw=#{userpw}
			]]>
	</select>
	
	<select id="selectTestuser" resultMap="testuser">
		<![CDATA[
			SELECT
				id
				, userid
				, userpw
				, userphone
			FROM testuser WHERE userid=#{userid}
			]]>
	</select>
	
	<select id="selectTestuserList" parameterType="egovframework.testuser.service.TestuserVO" resultType="egovMap">
			SELECT
								id
								, userid
								, userpw
								, userphone
					FROM testuser
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					id = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					userid LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
				ORDER BY id
				limit #{recordCountPerPage} offset #{firstIndex}	
	</select>	
	<select id="selectTestuserListTotCnt" parameterType="egovframework.testuser.service.TestuserVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM testuser
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					id = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					userid LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>			
	</select>

</mapper>
